{% extends 'money_management_app/base_generic.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
    <style>
        /* Add your custom styles for the login form */
        body {
            background-image: url('{% static "money_management_app/images/image_1.jpg" %}');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin: 10;
            padding: 10;
            font-family: 'Arial', sans-serif;
        }

        form {
            max-width: 400px;
            margin: 0 auto;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }

        footer {
            /* Remove the background-color property to make the footer transparent */
            padding: 10px;
            color: white;
            text-align: center;
        }
    </style>

    <h2></h2>
    <form method="post" class="login-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
{% endblock %}
