<!-- money_management_app/templates/registration/register.html -->
{% extends 'money_management_app/base_generic.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}

    <style>
        /* Add your custom styles for the registration form */
        body {
            background-image: url('{% static "money_management_app/images/image_1.jpg"%}');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
            font-family: 'Arial', sans-serif;
        }

        form {
            max-width: 400px;
            margin: 0 auto;
            background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background */
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }

        a {
            color: #4CAF50;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>

    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <h2>Register</h2>
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
    <br>
    <a href="{% url 'login' %}">Already have an account? Login here.</a>
{% endblock %}
